<html>
  <head>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1, user-scalable=no" />
    <title>GHUMFIR</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <style>
  body{
    background-color: #8080ff;  
  }
    .wrapper {
      width: 100%;
      height:700px;
      background-image: url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    position: relative;
  }

    .title {
      color:black;
      text-align: center;
      font-family: 'Arial';
      font-size: 150px;
      height: 50%; 
      width: 100%;
      
      
        }

    a:link {
    color: white;
    text-decoration: none;
  }

/* visited link */
  a:visited {
    color: white;
    text-decoration: none;

  }

/* mouse over link */
  a:hover {
    color: black;
    text-decoration: blink;
    background-color: #8080ff;
    }

/* selected link */
  a:active {
    color:white;
    text-decoration: box;
    background-color: #000066  ;

  }
    ul{
      list-style-type: none;
      margin: 0px;
      
      font-size: 50px;
      
      }

    ul li{
      padding: 20px;
      
      
      display:inline;
      float: right;


    }

    .welcome{
      font-size: 75px;
      color: white;
    }

    /* .menu{

    position: absolute;
    bottom: 5px;
   right: 16px;
    
    } */
    .subs{
      height: 7rem;
      margin: 0;
      -webkit-overflow-scrolling: touch;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0;
      text-align: center;
      transition: opacity .4s;
      white-space: nowrap;
      width: 100%;
}
    }

    .trip{
      border-style: dotted;
      border-color: white ;
      padding: 10px;
      margin-top: 30px;
      width: 100%;
      text-align:left;
      font-family: 'Arial';
      

    }

    .triptitle{
      font-size: 50px;
      font-weight: bold;
      float: center;
      text-align: center;
    }
    
    .tripbody{
      font-size: 24px;
    }

    a:visited {
     color: black; 
    text-decoration: none;
}
    
  </style>
  <body>
  <div class="wrapper">
    <div class="title"><strong>GHUMFIR<br>
    <div class="welcome">Click Your Trip</div></strong></div>
    
   </div>
   <div class="menu">
   
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/homePg">GHUMFIR</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/homePg">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Create
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href=/addNote>Add Event</a>
                    <a class="dropdown-item" href=/homeStay>Add Homestay</a>
                </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  What's New?
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href=/tripList>Nearby Trips</a>
                  <a class="dropdown-item" href=/viewHome>Available Homestays</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div><br>
      
   <div class="trip"><div class="triptitle">FINDING MY HITAISHI - MY CLOSE FRIEND</div>

<div class="tripbody">
“We travel not to escape life, but for life not to escape us..”
Eight days, six districts.Bizarre,eh? How can one manage? Who is going to join me? Will I just be on wheels or will I have time to wander through the places? Will I even get selected?<br>
With all these questions hovering in my mind, I finally decided to apply for the Hitaishi Project-Phase III, organized by Girls Empowered by Travel- Nepal(GET).There was nothing for me to lose,and if I did get through, this trip could be a great kick start to my holidays.<br>
With all the application process and interview round, I finally got a call that I had been selected out of 60+ participants along with 4 other participants for the project. My happiness knew no bounds. But as soon as I ended the call, the first thing that struck my mind was- can an introvert  like me be able to mingle with communities in such a short time? I knew there was something I had to do to get the most out of this journey and that was- to push through my limits.
It had been quite a long time that I actually got to travel to places,and somewhere I felt that I lost myself in all this hustle of life.And this trip wasn’t to find myself,rather to remember who I’ve been all along.<br>
With all the enthusiasm one could have, I along with my team of 7 people headed towards Hetauda on 25th of September. To travel with people you’ve known just a day before,was a new experience for me.And as time passed by, I realized that I was surrounded by a good company In Hetauda,we visited the Shahid Smarak park and then headed towards Leaf Plus-a socio-economic enterprise,manufacturer and supplier of biodegradable and disposable leaf plates.Ending our stay at Hetauda, we planned our journey towards Jureli village in Makwanpur where we got to share our lives with the Majhi community.There, we successfully conducted homemade sanitary pad making training with 30 students in a school.We also had a small interaction program with the Majhi people that made us realize how different the society is apart from the pages we read from our books.It is not the lifestyle of people that makes their society developed, rather it is their thinking.From Jureli,we had a long journey to Birgunj where the scorching heat welcomed us but didn’t stop us from visiting places.The night was alive at Birgunj and the food was a treat to our taste buds.After Birgunj,we made our way to Gadhimai Temple,Bara and continued our journey to a Dalit community in Mahuwon village, Parsa.Mahuwon had a lot in store for us,from how brainwashed the people were by the superstitions to how much the people were in need of income generating activities. Our next destination to be at was Sarlahi, where we had a great time at the Bagmati river and Nunthar hike.We also conducted an awareness program on sexual abuse in Karmaiya village. After a peaceful stay at Sarlahi,we headed towards a Muslim community in Lokaha village, Rautahat to conduct another pad making training at  a Madarsa(an arabic word for school). The Muslim community was way different from what we read on the pages of our books and to experience their culture so close was a great opportunity for us.For our last destination,we headed towards Janakpur to indulge in its beauty of Mithila Arts and cultural sites.Ending our trip on a peaceful note,we witnessed the Ganga Arati at Janakpur and headed back to Kathmandu the next day.<br>
All in all, this journey has brought power and love back in my life; a new perspective of valuing the life I have. I have had the opportunity to step in places that make me realize how tiny me and my problems are. The experience and travel have proven to be education in themselves.And as I write this, I am very happy to say that my journey has become my destination.
-By Nirisha Manandhar<br>
Nirisha is one of the selected participants of “Hitaishi-3”,a leading project of Girls Empowered by Travel-Nepal.</div>
</div>
  </body>
</html>


