<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="welcome"><p>Welcome to <%= title %></p></div>
   <div id="button" ><a href=/addNote><button>Go To your notes</button></a></div>
  </body>
</html>
