<html>
<head>
<title>LOGIN PAGE</title>
</head>
<body>
	<form method="post" action="/login">
	<p>Username</p>
	<input type="text" name="username" id="nameid" ><br>
	<p>Password</p>
	<input type="password" name="password" id="passwordid"><br>
	<button type="submit">Login</button>
	</form>
	</body>
</html> 