<html>
<head>
<title>SIGNUP PAGE</title>
</head>
<body>
	<form method="post" action="/signup">
	<p>Username</p>
	<input type="text" name="username" id="nameid" ><br>
	<p>Password</p>
	<input type="password" name="password" id="passwordid"><br>
	<p>Re-Password</p>
	<input type="password" name="Repassword" id="Repasswordid"><br>
	<button type="submit">Signup</button>
	</form>
	</body>
</html> 